.menu-slide-in {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #232F3E;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;

}

.menu-slide-in.open {
    transform: translateX(0);
}

.menu-button {
    margin-left: auto;
}

.header-wrapper {
    position: relative;
}

.overlay-open::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1111; /* Ensure it's above the header */
    transition: opacity 2s ease-in-out;
  
}
